@model IEnumerable<OreoFood.Data.Models.Restaurant>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@Model.Count()
@*
@Html.Raw("This is not HTml Encoded")
*@
<p>
    @Html.ActionLink("Create New", "Create")
</p>

@foreach(var item in Model)
{
    @Html.Partial("_RestaurantSummary", item)
}

@section footer {
    <div>This is a custom footer</div>    
}
